<h1><%= @user.username %></h1>

<d1>
  <dt>ID</dt>
  <dd><%= @user.id %></dd>
  <dt>Edit user</dt>
  <dd>
    <form action="/update_user/<%= @user.username %>" method="post">
      <label for="username_box">Username</label>
      <input type="text" id="username_box" name="query_username" value="<%= @user.username %>"></input>
      <button>Update user</button>
    </form>
  </dd>
</d1>

<h2>Own photos (<%= @user.own_photos.size %>)</h2>

<table border="1">
  <tbody>
    <tr>
      <th>Image</th>
      <th>Owner</th>
      <th>Caption</th>
      <th>Posted</th>
      <td></td>
    </tr>
    <% @user.own_photos.each { |photo| %>
      <tr>
        <td>
          <img src="<%= photo.image %>">
        </td>
        <td><%= photo.poster.username %></td>
        <td><%= photo.caption %></td>
        <td><%= photo.created_at %></td>
        <td><a href="/photos/<%= photo.id %>">Show details</a></td>
      </tr>
    <% } %>
  </tbody>
</table>
